h1 {text-align: center;

}

#movie-list {
    display:flex;
    justify-content: center;
}

#image-bar img {
    width: 50px;
    height: auto;
    margin: 7px;
}

#movie-list img:hover {
    filter: drop-shadow(0 0 0.75rem white)
}